@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$red: #e60745;
$gray: #323232;
$white: #FFF;
$font-base: 'Montserrat';

a{
    color: $gray;
}

body {
    margin: 0;
    padding: 0;
    background-color: $gray;
    font-family: $font-base;

    >*{
        @media (max-width: 991px) {
            margin-bottom: 100px !important;
        }
    }
}


.contact-container + script + div > a{
    display: none !important;
}

.top-container {

    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 200px 0;
    padding: 0px 50px;

    @media (max-width: 991px) {
        flex-direction: column-reverse;
        align-items: center;

        margin: 100px 0;
    }

    h1.my-name {
        color: $white;

        font-family: $font-base;
        font-size: 98px;
        font-weight: normal;

        @media (max-width: 991px) {
            font-size: 60px;
            width: 100%;
            text-align: left;
        }

        margin-bottom: 0;

        &::after {
            content: '';
            display: block;
            width: 115%;
            height: 5px;
            background-color: $red;
            @media (max-width: 991px) {
                width: 100%;
            }
        }
    }
    .my-photo {
        display: flex;

        img {
            border-top: 5px solid $white;
            border-right: 5px solid $red;
            border-bottom: 5px solid $red;
            border-left: 5px solid $white;
            //border-radius: 10px;
            width: 400px;
            @media (max-width: 991px) {
                width: 100%;
            }
        }
    }
}

.about-me-container {
    //width: 80%;
    max-width: 1140px;
    margin: 50px auto;
    margin-bottom: 200px;

    padding: 50px;
    background-color: $white;

    h2 {
        color: $gray;
        text-align: center;
        text-transform: uppercase;
    }

    .about-me {
        p {
            font-size: 18px;
            text-align: center;
            
            span.developer-word{
                color: $red;
                font-weight: 700;
            }
        
        }
    }



}

.skills-container {

    width: 80%;
    margin: 50px auto;
    margin-bottom: 200px;



    h2 {
        color: $white;
        text-align: center;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 200px;
            height: 5px;
            background-color: $red;
        }
    }

    ul.skills-box {


        list-style: none;
        padding-left: 0;

        display: grid;

        grid-template-columns: auto auto auto auto;
        
        @media (max-width: 991px) {
            grid-template-columns: auto auto;
        }
        
        justify-content: center;

        //width: 50%;
        margin: 50px auto 0;


        li.skill {
            color: $white;
            text-transform: uppercase;

            background-color: $red;

            width: 170px;
            @media (max-width: 991px) {
                width: 140px;
                font-size: smaller;
            }
            margin: 5px;
            font-weight: bold;

            border: 1px solid $white;
            
            padding: 10px;
            text-align: center;

            /*
            &::before {
                content: "\2022";
                color: $red;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                width: 1em; 
                margin-left: -1em; 
            }
            */
        }
    }


}

.education-container {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 200px;
    //padding: 50px;

    h2 {
        color: $white;
        text-align: center;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 200px;
            height: 5px;
            background-color: $red;
        }
    }

    .education-cards-box {

        display: flex;
        align-items: flex-start;
        justify-content: center;

        @media (max-width: 991px) {
            flex-direction: column;
            align-items: center;
            width: 100%;

        }

        margin-top: 60px;

        .education-card {
            position: relative;

            width: 375px;
            height: 160px;

            margin: 0 20px;
            padding: 30px;
            background-color: $white;

            @media (max-width: 991px) {
                //margin: 0 !important;
                width: 100%;
                height: unset;
                min-height: 210px;
                margin-bottom: 50px;

            }

            &:first-child {
                @media (min-width: 992px) {
                    margin-left: 0;
                }
                
            }

            &:last-child {
                @media (min-width: 992px) {
                    margin-right: 0;
                }
            }

            h3 {
                margin-top: 0;
                color: $red;
            }

            h4 {
                color: $gray;
            }

            p {
                color: $gray;
            }

            &::before {
                content: '';

                display: block;

                width: 80px;
                height: 5px;

                background-color: $red;

                position: absolute;
                top: 0;
                left: 30px;
            }
        }
    }

}

.languages-container {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 200px;

    h2 {
        color: $white;
        text-align: center;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 200px;
            height: 5px;
            background-color: $red;
        }
    }

    ul.languages-box {

        list-style: none;
        padding-left: 0;

        margin: 50px auto 0;

        li.language {
            color: $white;
            text-transform: uppercase;

            background-color: $red;

            width: 370px;
            margin: 5px auto;
            font-weight: bold;

            border: 1px solid $white;

            padding: 10px;
            text-align: center;

            @media (max-width: 991px) {
                margin-bottom: 15px;
                padding: 10px 40px;
                font-size: 14px;
                width: unset;
            }
        }
    }
}

.work-history-container {

    margin: auto;
    width: 80%;
    margin-bottom: 200px;


    h2 {
        color: $white;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 200px;
            height: 5px;
            background-color: $red;
        }
    }


    .work-box {

        background-color: $white;
        padding: 30px;
        @media (max-width: 991px) {
            padding: 30px;
        }

        @media (min-width: 992px) {
            max-width: 800px;
            margin: 0 auto 25px;
        }
        margin-bottom: 25px;

        position: relative;

        h3 {
            margin-top: 0;
        }

        p{
            @media (max-width: 991px) {
                font-size: 14px;
                &:first-of-type{
                    margin-top: 40px;
                }

            }
        }

        &::before {
            content: '';

            display: block;

            width: 80px;
            height: 5px;

            background-color: $red;

            position: absolute;
            top: 0;
            left: 30px;
        }
    }
}

.awards-container {

    width: 80%;
    margin: 0 auto 200px;


    h2 {
        color: $white;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 200px;
            height: 5px;
            background-color: $red;
        }
    }

    .awards-box {

        .award {
            background-color: $white;
            @media (min-width: 992px) {
                display: flex;
                max-width: 800px;
                margin: auto;
            }
           
            position: relative;
            

            padding: 30px;
            @media (max-width: 991px) {
                padding: 30px;
            }

            .award-description {
                margin-right: 30px;
                @media (min-width: 992px) {
                    width: 50%;
                }
                h3 {
                    margin-top: 0;
                }
            }

            .award-photo {
                @media (min-width: 992px) {
                    width: 50%;
                    max-width: 400px;
                }
                @media (max-width: 991px) {
                    width: 100%;
                    margin-top: 50px;
                }
                
                border-top: 5px solid $gray;
                border-right: 5px solid $red;
                border-bottom: 5px solid $red;
                border-left: 5px solid $gray;
            }

            &::before {
                content: '';

                display: block;

                width: 80px;
                height: 5px;

                background-color: $red;

                position: absolute;
                top: 0;
                left: 30px;
            }
        }

    }
}

.projects-container {

    margin-bottom: 200px;

    h2 {
        color: $white;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 200px;
            height: 5px;
            background-color: $red;
        }
    }

    .projects-box{

        max-width: 800px;
        margin: 0 auto 200px;


        .project{

            margin-bottom: 50px;

            
            border: 5px solid $red;

            .project-title{
                background-color: $red;
                color: $white;
                //border: 2px solid $white;
                padding: 30px;
                h3{
                    margin: 0;
                    margin-bottom: 10px;

                }

            }

            .project-content {
                background-color: $white;
                padding: 30px;

                a{
                    margin-top: 10px;
                }
            }
        }
    }
}

.contact-container{
    h2{
        color: $white;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 50px;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 200px;
            height: 5px;
            background-color: $red;
        }
    }

    .contact-box{

        width: fit-content;
        margin: auto;
        margin-bottom: 200px;

        display: flex;

        @media (max-width: 991px) {
            max-width: 50%;
        }

        .contact{

            a{
                margin: 0 15px 0;
                color: $white;

                i{
                    &::before{
                        font-size: 30px;
                        color: $white;
                    }
                }
            }

            

        }

    }
}