@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$red: #e60745;
$gray: #323232;
$white: #FFF;
$font-base: 'Montserrat';

body {
    margin: 0;
    padding: 0;
    background-color: $gray;
    font-family: $font-base;
}


.top-container {

    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 200px 0;
    padding: 0px 50px;

    h1.my-name {
        color: $white;

        font-family: $font-base;
        font-size: 98px;
        font-weight: normal;

        margin-bottom: 0;

        &::after {
            content: '';
            display: block;
            width: 115%;
            height: 5px;
            background-color: $red;
        }
    }

    .my-photo {
        display: flex;

        img {
            border-bottom: 5px solid $red;
            //border-radius: 10px;
            width: 400px;
        }
    }
}

.about-me-container {
    //width: 80%;
    max-width: 1140px;
    margin: 50px auto;
    margin-bottom: 200px;
    padding: 50px;
    background-color: $white;

    h2 {
        color: $gray;
        text-align: center;
        text-transform: uppercase;
    }

    .about-me {
        p {
            font-size: 18px;
            text-align: center;
        }
    }



}

.skills-container {

    width: 80%;
    margin: 50px auto;
    margin-bottom: 200px;



    h2 {
        color: $white;
        text-align: center;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 20%;
            height: 5px;
            background-color: $red;
        }
    }

    ul.skills-box {


        list-style: none;
        padding-left: 0;

        display: grid;

        grid-template-columns: auto auto auto auto;

        justify-content: center;

        //width: 50%;
        margin: 50px auto 0;


        li.skill {
            color: $white;
            text-transform: uppercase;

            background-color: $red;

            width: 125px;
            margin: 5px;
            font-weight: bold;

            border: 1px solid $white;



            padding: 10px;
            text-align: center;

            /*
            &::before {
                content: "\2022";
                color: $red;
                font-size: 16px;
                font-weight: bold;
                display: inline-block;
                width: 1em; 
                margin-left: -1em; 
            }
            */
        }
    }


}

.education-container {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 200px;
    //padding: 50px;

    h2 {
        color: $white;
        text-align: center;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 20%;
            height: 5px;
            background-color: $red;
        }
    }

    .education-cards-box {

        display: flex;
        align-items: flex-start;
        justify-content: center;

        margin-top: 60px;

        .education-card {
            position: relative;

            width: 375px;
            height: 160px;

            margin: 0 20px;
            padding: 30px;
            background-color: $white;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            h3 {
                margin-top: 0;
                color: $red;
            }

            h4 {
                color: $gray;
            }

            p {
                color: $gray;
            }

            &::before {
                content: '';

                display: block;

                width: 80px;
                height: 5px;

                background-color: $red;

                position: absolute;
                top: 0;
                left: 30px;
            }
        }
    }

}

.languages-container {
    width: 80%;
    margin: 50px auto;
    margin-bottom: 200px;

    h2 {
        color: $white;
        text-align: center;
        text-transform: uppercase;

        &::after {
            content: '';
            display: block;
            margin: 10px auto;
            width: 20%;
            height: 5px;
            background-color: $red;
        }
    }

    ul.languages-box{

        margin-top: 50px;
        list-style: none;
        padding-left: 0;

        display: grid;

        grid-template-columns: auto;

        justify-content: center;
        li.language{
            color: $white;
            text-transform: uppercase;

            background-color: $red;

            width: 370px;
            margin: 5px;
            font-weight: bold;

            border: 1px solid $white;



            padding: 10px;
            text-align: center;
        }
    }
}